################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaygoAgent/obj/Debug/net8.0
/PaygoAgent/obj/Release/net8.0
/PosTerminal/obj
/PosTerminal/bin/Debug/net8.0
